html {
  box-sizing: border-box;
  background-color: #fff;
}


*, ::after, ::before {
  box-sizing: inherit;
}

body{

  font-family: Cuprum, Arial,sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;

}

a{
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.main-header{
  background-color: #f4f7f9;
  min-width: 940px;
}

.header-top-line{
  background-color: #293449;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
}

.container{
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.logo{
  display: flex;
  background-color: #ee3643;
  width:220px;
  height: 42px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 #b52933;
  outline: 0;
}

.logo:hover{
  background-color: #ca2c37;
}

.logo:active{
  background-color: #ba2732;
}

.search-section{
  width: auto;
  height: 100%;
}

.search-form{
  position: relative;
  width: 270px;
  height: 100%;
}

.search-form:hover{
  background-color: #212a3a;
}

.search-form:focus{
  background-color: #fff;
}



.search-label{
  position: absolute;
  top: 0;
  height: 100%;
  width: 49px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #fff;

}

.search-label-submit{
  display: none;
}

.header-top-line-icon {
  width: 15px;
  height: 100%;
  margin: 0 13px 3px -9px;
  border: 0;
  opacity: .3;
  fill: #fff;



}

.header-top-line-icon-search{
  width: 17px;
  margin: 0;

}

.search-form:hover .header-top-line-icon{
  opacity: 1;
}

.input-request:focus+.search-label .header-top-line-icon{
  fill: #ee3643;;
  opacity: 1;
}

.input-request{
  font: inherit;
  background-color: #293449;
  padding: 0 10px 0 49px;
  border: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  color: #fff;

}

.input-request::placeholder{
  color: #fff;

}

.input-request:hover{
  background-color: #212a3a;
}

.input-request:focus{
  background-color: #fff;
  color: #000;
}

.search-section:hover{
background-color: #212a3a;
}

.upper-section-button{
  border-radius: 0;
  height: 100%;
  width: 150px;
  text-decoration: none;
}

.upper-section-button:active {
  background-color: #161d29;
  color: rgba(255,255,255,.5);
}

.upper-section-button:focus, .upper-section-button:hover {
  background-color: #212a3a;
}

.button{
  align-items: center;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 11px;
  line-height: 16px;

  outline: 0;
}
.upper-section-button:active .header-top-line-icon{
  opacity: .3;
}
.upper-section-button:hover .header-top-line-icon{
  opacity: 1;
}

.user-checkout{
  background-color: #63a63e;
}

.user-checkout:focus, .user-checkout:hover{
  background-color: #5fbb2d;
}

.user-checkout:active{
  background-color: #518534;
}

.info-section{
  justify-content: space-between;
  min-height: 74px;
  margin-top: 46px;
  align-items: flex-start;

}

.text-about-company{
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  margin: 4px 0 1px 53px;
  padding: 0;
}

.phone-search{
  border: 2px solid #fff;
  padding-left: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 47px;
  position: relative;
}

.phone-search span{
  font-size: 21px;
  line-height: 21px;
  color:#ca2c37;

}

.address{
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.user-main-button{
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0;
}

.user-button{

}

.main-navigation{



}

.main-navigation-list{
  width: 940px;
  margin: 40px 0 60px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  padding: 0;
  background-color: #32425c;
}



.main-navigation-item{
  height: 100%;
  vertical-align: middle;


}
