html {
  box-sizing: border-box;
  background-color: #fff;
}


*, ::after, ::before {
  box-sizing: inherit;
}

body{

  font-family: Cuprum, Arial,sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;

}

a{
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.main-header{
  background-color: #f4f7f9;
  min-width: 940px;
}

.header-top-line{
  background-color: #293449;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
}

.container{
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.logo{
  display: flex;
  background-color: #ee3643;
  width:220px;
  height: 42px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 #b52933;
  outline: 0;
}

.logo:hover{
  background-color: #ca2c37;
}

.logo:active{
  background-color: #ba2732;
}

.search-section{
  width: auto;
  height: 100%;
}

.search-form{
  position: relative;
  width: 270px;
  height: 100%;
}

.search-form:hover{
  background-color: #212a3a;
}

.search-form:focus{
  background-color: #fff;
}



.search-label{
  position: absolute;
  top: 0;
  height: 100%;
  width: 49px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #fff;

}

.search-label-submit{
  display: none;
}

.header-top-line-icon {
  width: 15px;
  height: 100%;
  margin: 0 13px 3px -9px;
  border: 0;
  opacity: .3;
  fill: #fff;



}

.header-top-line-icon-search{
  width: 17px;
  margin: 0;

}

.search-form:hover .header-top-line-icon{
  opacity: 1;
}

.input-request:focus+.search-label .header-top-line-icon{
  fill: #ee3643;;
  opacity: 1;
}

.input-request{
  font: inherit;
  background-color: #293449;
  padding: 0 10px 0 49px;
  border: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  color: #fff;

}

.input-request::placeholder{
  color: #fff;

}

.input-request:hover{
  background-color: #212a3a;
}

.input-request:focus{
  background-color: #fff;
  color: #000;
}

.search-section:hover{
background-color: #212a3a;
}

.upper-section-button{
  border-radius: 0;
  height: 100%;
  width: 150px;
  text-decoration: none;
  color: #fff;
}

.upper-section-button:active {
  background-color: #161d29;
  color: rgba(255,255,255,.5);
}

.upper-section-button:focus, .upper-section-button:hover {
  background-color: #212a3a;
}

.button{
  align-items: center;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 11px;
  line-height: 16px;

  outline: 0;
}
.upper-section-button:active .header-top-line-icon{
  opacity: .3;
}
.upper-section-button:hover .header-top-line-icon{
  opacity: 1;
}

.user-checkout{
  background-color: #63a63e;
}

.user-checkout:focus, .user-checkout:hover{
  background-color: #5fbb2d;
}

.user-checkout:active{
  background-color: #518534;
}

.info-section{

  min-height: 74px;
  margin-top: 46px;
  align-items: flex-start;

}

.text-about-company{
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  margin: 4px -2px 1px 53px;
  padding: 0;
  max-width:200px;
  font-style: italic;
  color: #ee3643;
}

.contacts{
  margin-left: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.phone-search{
  display: flex;
  border: 3px solid #fff;
  width: 270px;
  min-height: 45px;
  align-items: center;font-size: 21px;
  line-height: 21px;
}

.header-top-line-icon-phone{
  fill: #b7bfc8;
  margin: 0 40px 0 12px;
  height: 20px;
  opacity: 1;
}

.phone-search span{
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;;

}

.address{
  font-size: 14px;
  line-height: 24px;
  margin: 5px 0 0;
  max-width: 270px;
}





.main-navigation{
min-height:


}

.main-navigation-list{
  width: 940px;
  margin: 40px 0 60px;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 0;
  flex-wrap: wrap;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation-list li{
  margin: auto;
}

.main-navigation-item a{
  display: block;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
}

.main-navigation-item a:hover{
  background-color: #293449;
}

.main-navigation-item a:active{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.user-main-button{
  list-style: none;
  display: flex;
  margin: 0px;
  margin-left: 70px;
  padding: 0;

}


.user-button{
  background-color:#fff;
  color: black;
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
  height: 45px;
  min-width: 150px;

}

.user-button:hover{
  color: #ee3643;
}

.user-button:active{
    color: rgba(0, 0, 0, 0.5);
}

.user-button-login{
  min-width: 121px;
  margin-left: 0px;
}

.user-button-login::before{
  content: "";
  display: inline-block;
  background-position: 0 0;
  width: 20px;
  height: 17px;
  margin: 0 12px 0 -10px;
  vertical-align: top;
  background-image: url(../img/icons/icon-login.svg);
}

.user-button-login:hover::before{
  opacity: 1;
}

.user-button-login::before, .user-button-login:active::before{
  opacity: .3;
}

.promoblock-section{
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 59px
}

.promo-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -20px 0 0;
}

.promo-list:first-child{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  padding: 0;
}



.promo-item{
  width: 300px;
  min-height: 123px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color: orange;
  padding-top: 21px;
  padding-right: 28px;
  padding-bottom: 22px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
  color: #fff;
  background-position: 83% 53%;

}

.promo-item-orange{
  background-color: #ffbf47;
}

.promo-item-blue{
  background-color: #3bbce3;
}

.promo-item-pink{
  background-color: #dc91d8;
}

.promo-title{
  font-size: 24px;
  line-height: 30px;
  max-width: 170px;
  margin: 0;
}

.item-new::before{
  content:"";
  background-image: url(../img/icons/new-flag.png);
  position: absolute;
  top: 0;
  right:0;
  width: 60px;
  height: 59px;
  z-index: 1;

}

.promo-button{
  text-transform: uppercase;
  margin-top: 12px;
  max-width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

}

.promo-button:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active{
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-icon-placeholder{
  position: absolute;
  display: flex;
  width: 78px;
  height: 75px;
  right: 28px;
  margin: auto;
  justify-content: center;
  align-items: center;
  top:0;
  bottom: 0;
}

.catalog-slider{
  position: relative;
  margin-right: 20px;

}

.catalog-slider-slide{
  display: none;
  margin: 0;
  position: relative;
  background-color: #6f6f6f;
  width: 620px;
  height: 266px;
}

.active-slide{
  display: block;
}

.catalog-slider-title, .catalog-slider-caption{
  color: #fff;
  margin: 0px;
  left:25px;
}

.catalog-slider-caption{
  top:64px;
  font-size: 18px;
}

.catalog-slider-title{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  top: 22px;
}

.catalog-slider-caption, .catalog-slider-title,
.catalog-slider__control, .catalog-slider-button,
.slider-pagination{
  position: absolute;
}

.catalog-slider-button{
  background-color: #ee3643;
  height: 38px;
  width: 195px;
  border-radius: 3px;
  cursor: pointer;
  bottom: 22px;
  left: 25px;
  text-transform: uppercase;

}

.catalog-slider-button:hover{
  background-color: #ca2c37;
}

.catalog-slider-button:active{
  background-color: #ba2732;
}

.catalog-slider__control{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  left: 26px;
  top: 113px;
  height: 40px;
  width: 22px;
  background-image: url(../img/icons/icon-left.svg);
}

.control-next{
  margin-left: auto;
  right: 19px;
  transform: rotate(180deg);
}

.slider-pagination{
  bottom: 36px;
  display: flex;
  left: 48%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-pagination li{
  margin-right: 10px;
  line-height: 0;
}

.catalog-slider-tab{
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: 0;
  padding: 0;
}

.tab-active{
  background-color: #ee3643;
  border: 2px solid #fff;
}

.promo-list-vertical{
  flex-direction: column;
  margin-bottom: -20px;
}

.promo-item-green{
  background-color: #8ed78f;
}

.popular{
  margin-top: 53px;
  margin-bottom: 65px;
}

.popular-headline{
  background-color: #f9f5f0;
  min-height: 89px;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.button-allpupular{
  background-color: #ee3643;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 24px;
  width: 253px;
  height: 38px
}

.button-allpupular:hover{
  background-color: #ca2c37;
}

.button-allpupular:active{
  background-color: #ba2732;
}

.popular-header{
  margin-right:auto;
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.popular-products{
  margin-bottom: 20px;


}

.popular-products-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 0;
  padding: 0;
}

.popular-products-item{
  border: 1px solid #eaeaea;;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-bottom: 20px;

}

.popular-products-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,.5);
}

.product-buttons{
  display: block;
}

.products-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex:1;
}

.products-header{
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 10px;
  margin-bottom:10px;
  max-width: 158px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
}

.product-discount,
.products-header,
.product-price {
  font-family: "PT Sans",Arial,sans-serif;
  font-weight: bold;
}

.product-discount,
.product-price {
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  font-weight: 600;
}

.product-discount {
  color: #a9a9a9;
  text-decoration: line-through;
  margin-bottom: 10px;
  margin-top: auto;
}

.product-price{
  background-image: url(../img/red-button.svg);
  color: #fff;
  width: 141px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-buttons{
  background-color: #fff;
  width: 218px;
  height: 170px;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  /* display: none; */
}

.product-button{
  position: relative;
  padding: 11px;
  width: 135px;
  color: #fff;
  text-transform: uppercase;
}

.product-button-buy{
  background-color: green;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.product-button-bookmark{
  border: 3px solid green
  color: green;
}

.product-button-bookmark{
  padding: 8px;
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
  margin-top: 7px;

}

.product-button-bookmark:hover{
  border: 3px solid #32425c;
}

.product-button-bookmark:active{
  opacity: 0.3;
}

.product-button-buy::before{
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  opacity: .3;
  left: 0;
  margin-left: 12px;
  background-image: url(../img/icons/icon-cart.svg);
}

.product-button-buy:hover::before{
  opacity: 1;
}

.product-button-buy:active::before{
  opacity: 1;
}

.product-button-buy:hover{
  background-color: #5fbb2d;
}

.product-button-buy:active{
  background-color: #518534;

}

.popular-manufacturers{
  margin-bottom: 30px;
}

.popular-manufacturers-list{
  display: flex;
  list-style: none;
  margin: 0 -20px 0 0;;
  flex-wrap: wrap;
  align-self: stretch;
  padding: 0;


}
.popular-manufacturers-item{
width: 220px;
height: 145px;
border: 1px solid #eaeaea;
display: flex;
margin: 0 20px 20px 0;
}

.manufacturers-link{
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  outline: 0;
}

.popular-manufacturers-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,.5);
}


.popular-manufacturers-item:active {
  box-shadow: 0 5px 15px 0 rgba(41,52,73,.5);


}

.manufacturers-link img:active{
  opacity: 0.3;
}

.servises{
  background-color: #f4f8f9;
  padding-top: 65px;

}

.sevis-wrapper{
  min-width: 940px;
  align-items: flex-start;
  flex-direction: column;
}

.servises-header{
  text-transform: uppercase;
  font-weight: normal;
  line-height: 30px;
  font-size: 30px;
  margin: 0;
}

.servises_text{
  line-height: 24px;
  font-size: 13px;
  font-family: "PT Sans",Arial,sans-serif;
  align-self: stretch;
  margin: 0;
  margin-top: 28px;
}

.servises-slider{
  display: flex;
  align-self: stretch;
  margin-top: 20px;
}

.slider-nav{
  list-style: none;
  margin: 0;
  padding: 50px 0;
  position: relative;
  align-self: flex-start;
}

.servises-button{
  background-color: #32425c;
}

.slider-nav::before{
  content: "";
  width: 26px;
  box-shadow: -12px 0 12px -8px #000;
  height: 100%;
  right: -32px;
  top: 0;
  border-radius: 61%;
  z-index: 1;
  background-color: #f4f7f9;
  position: absolute;
}

.servises-slider-button{
  background-color: #32425c;
  width: 240px;
  font-size: 21px;
  padding: 22px 22px;
  font-weight: 600;
  justify-content: flex-start;
  text-transform: capitalize;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  border-radius: 0;
  outline: 0;
  font-family: inherit;

}



.servises-slider-button-active{
  background-color: #fff;
  color: #32425c;
  box-shadow: none;
}

.servises-slide{
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 56px 0 0 80px;
  min-height: 330px;
  background-color: #f4f7f9;
  z-index: 1;
  display: none;

}

.slie-active{
  display: block
}

.servises-slide-header{
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.servises-slide-text{
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans",Arial,sans-serif;
  margin: 34px 0 31px;
  position: relative;
  z-index: 2;
  max-width: 380px;
}

.services-slider-img{
  position: absolute;
  bottom:0;
  right: 0;
}

.servises-button{
  padding: 11px;
  min-width: 195px;
  margin: 31px 0;
  position: relative;
  z-index: 1;
  background-color: #ee3643;
  text-transform: uppercase;
}

.technomart-info{
  padding-top: 74px;
  padding-bottom: 86px;
  justify-content: space-between;
  align-items: flex-start;
}


.about-us{
  margin-right: auto;
}

.about-us-header{
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;

}

.about-us-text{
  line-height: 24px;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: "PT Sans",Arial,sans-serif;
}

.about-us-list{
  font-weight: 600;
  margin: 21px 0 0;
  padding: 0;
  list-style:none;
  font-size: 18px;
  line-height: 20px;
}


.about-us-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}


.about-us-item::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  margin-right: 10px;
  align-items: baseline;
}

.about-us-button{
  width: 220px;
  margin-top: 35px;
  text-transform: uppercase;
}


.about-us-button:hover, .about-us-button-wide:hover, .footer-logo-link:hover,
.servises-button:hover {
  background-color: #ca2c37;
}

.about-us-button:active, .about-us-button-wide:active, .footer-logo-link:active,
.servises-button:active {
  background-color: #ba2732;
}

.button-red{
  background-color: #ee3643
}

.about-us-button-wide{
  min-width: 220px;
  margin-top: 35px;
  text-transform: uppercase;
  align-self: stretch;
}



.about-us-contacts{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-left: auto;
  align-items: flex-start;
}

.about-us-map{
  margin: 0;
  margin-top:32px;
}

.main-footer{
  margin-top: 0;
  background-color: #32425c;
}

.footer-top{
  background-color: #32425c;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
  display: flex;
  flex-direction: column;
}

.footer-first-line{
  line-height: 24px;
  font-size: 18px;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 63px;

}





.footer-logo-link{
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin-top: 0;
  box-shadow: 0 5px 0 0 #b62530;
}

.footer-logo-link img{
  width: 138;
  height: 23;
}

.footer-nav-list{
  margin: 5px 0 2px -59px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 610px;
  justify-content: flex-end;
}

.footer-item{
  margin-left: 59px;
}

.footer-item:hover{
  text-decoration: underline;
}

.footer-item:active{
  opacity: 0.5;
  text-decoration: none;
}

.nav-list-bottom .footer-item{
  color: #ffd180;
}



.footer-second-line{
  padding: 32px 0 10px;
  min-height: 130px;
  justify-content: space-between;
  align-items: flex-start;
}



.footer-adress{
  margin: 0;
}

.nav-list-bottom{
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-bottom-background  {
  padding: 35px 0 28px;
  background-color: #293449;
  color: #fff;
}

.bottom-footer-container{
  justify-content: space-between;

}

.footer-text{
  line-height: 18px;
  font-size: 16px;
  margin:0;
  max-width: 240px;
}

.footer-info-block{
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding-right: 13px;


}

.footer-link {
  color: #ffd180;
  outline: 0;
}


.footer-link:hover {
  text-decoration: underline;
}

.footer-linl:active{
  text-decoration: none;
  color: #ee3643;

}


.social{
  list-style: none;
  padding: 0;
  margin: 0 0 -2px 44px;
  display: flex;
  width: 135px;
  flex-wrap: wrap;
}

.social-item{
  outline: 0;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 3px 3px 0;
}



.social-item:focus, .social-item:hover {
  background-color: #ee3643;
}


.modal{
box-shadow:0 20px 40px 0 rgba(0,0,0,.75);
}

.modal-bascket{
  height: 276px;
  width: 620px;
  background-color: #fff;
  margin-left: -310px;
  margin-top: -138px;
  animation: bounce .6s;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
  box-shadow: 0 -7px 0 0 #ee3643,

}

.modal-active{
  position: fixed;
  top:50%;
  left: 50%;

  z-index: 2;

  display: flex;
}

@keyframes bounce{
0%{
  transform: translateY(-2000px);
  }
70%{
  transform: translateY(30px);
  }
90%{
  transform: translateY(-10px);
  }
100%{
  transform: translateY(0);
  }
}

.modal-header-basket{
 line-height: 30px;
 font-size: 30px;
 margin: auto;
 margin-right: 115px;
 font-weight: normal;
 position: relative;
}

.modal-header-basket::before {

  position: absolute;
  vertical-align: bottom;
  content: "";
  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  left: -85px;
  top:-20px;
  margin-right: 32px;
 }

.modal-footer{
  background-color:#f1f1f1;
  min-height: 112px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 80px;
  padding-right: 80px;
  }

.modal-bascket-button{
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
}

.modal-bascket-button-continue{
  background-color: #fff;
  color: #000;
}

.modal-close{
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9px;
  right: 9px;
  background-image: url(../img/icons/icon-close.svg);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  }

.modal-feedback{
  width: 620px;
  height: 436px;
  margin-top: -212px;
  margin-left: -310px;
  background: #fff;
  box-shadow: 0 -7px 0 0 #ee3643;
  animation: bounce .6s;

}

.feedback-error{

  animation: shake 0.6s;
}

@keyframes shake {

0%, 100% {
    transform: translateX(0);
}
10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
}
20%, 40%, 60%, 80% {
    transform: translateX(10px);
}
}

.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 50px;

}

.modal-footer{
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-input-group{
  display: flex;
  margin-right: 80px;
  margin-left: 80px;

  justify-content: space-between;
  width: 460px;
  margin-bottom: 22px;
}

.modal-group{
  margin: 0;
  padding: 0;
}

.modal-input{
  border: 2px solid #dee3e4;
  padding: 10px 16px;
  font-size: 13px;
  border-radius: 3px;
  outline: 0;
  margin-top: 13px;
  width: 100%;
}



.modal-label{

  line-height: 18px;
  font-size: 18px;
}

.modal-entry{
  display: inline-block;
  vertical-align: top;
  width: 220px;
}
.modal-entry-text .modal-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 460px;
  align-self: stretch;
  height: 110px;
  resize: none;
}

.modal-footer-form{
  margin-top: auto;
}

.modal-button{
  flex: 1;
  text-transform: uppercase;
}

.modal-map{
  margin-top: -223px;
  margin-left: -470px;
  box-shadow:0 0px 15px 0px rgba(0,0,0,.5);
  outline: 0;
  animation: bounce .6s;
}

.modal-map-iframe{
  border: 0;
}

.user-profile{
  margin-left: auto;
  align-items: flex-start;

}

.user-info-button{
  width: 300px;
  height: 45px;
  background-color: #fff;
  display: flex;;
  line-height: 21px;
  font-size: 21px;
  position: relative;
  align-items: stretch;
}

.user-profile-link{
  color: #000;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: flex-start;
  padding: 0;
  padding-left: 47px;


}

.user-profile-link::before{
  content: "";
  background-image: url(../img/icons/icon-user.svg);
  width: 20px;
  height: 18px;
  position: absolute;
  left: 14px;
  top: 13px;
  opacity: .3;
}

.user-navigation-list{
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 18px;
  display: flex;

}

.user-navigation-link{
  color: #32425c;
  text-decoration: underline;
}



.log-out{
  width: 20px;
  height: 17px;
  background-image: url(../img/icons/icon-logout.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 14px;
  opacity: .3;
  outline: 0;
  margin: 0;
}

.user-navigation-item{
  margin-right: 32px;
  position: relative;

}

.user-navigation-item:last-child {
  margin-right: 0;
}



.user-navigation-item:last-child::before{
  content: "";
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  top: 7px;
  left: -18px;
  position: absolute;
}

.breadcrumbs{
  margin-top: 19px;
  margin-bottom: 18px;
  list-style: none;
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "PT Sans",Arial,sans-serif;
}

.breadcrumbs-item{
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item::before{
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url(../img/icons/icon-right-small.svg);
  background-repeat: no-repeat;
  margin-right: 16px;
  margin-left: 2px;
}


.breadcrumbs-item-home::before{
  display: none;
}

.breadcrumbs-item-home a{
  width: 15px;
  height: 12px;
  background-image: url(../img/icons/icon-home.svg);
  background-repeat: no-repeat;
}


.catalog-header{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  color: #32425c;
  font-weight: 400;
  padding: 32px 30px 29px;
  margin-bottom: 20px;
}
